@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Orbitron, Arial, Helvetica, sans-serif;
  background-color: #0d0208;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 20px;
}

h1 {
  padding: 10px;
  border-left: 4px solid #00ff41;
  color: #00ff41;
}

form {
  margin-top: 25px;
  width: 100%;
  padding: 20px;
}

form div.input-field {
  display: flex;
  flex-direction: column;
}

form div.input-field label {
  font-size: 1.1rem;
  color: #00ff41;
}

form div.input-field input {
  margin: 15px 0;
  background-color: #0d0208;
  padding: 13px 8px;
  color: #00ff41;
  font-family: Orbitron, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  border-color: #00ff41;
}

form div.input-field small {
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

form input[type=submit] {
  position: relative;
  border: none;
  padding: 18px 25px;
  width: 50%;
  left: 50%;
  background-color: #008f11;
  font-family: Orbitron, Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: #0d0208;
  font-weight: bold;
  transition: background .4s ease-in-out;
}

form input[type=submit]:hover {
  background-color: #00ff41;
}

div.decimal-output {
  background-color: #0d0208;
  border: 2px dashed #00ff41;
  padding: 20px;
}

div.decimal-output {
  color: #00ff41;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

div.decimal-output p {
  margin-bottom: 15px;
}